.result-button {
  height: 30px;
  width: 100px;
  padding: 20px;
  color: #223a5f;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
